{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'item/css/styles.css' %}">
{% endblock style %}

{% block head %}

<title>{{ item.name }}</title>
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block content %}

<div class="item-container">
  <h1 class="item-name">{{ item.name }}</h1>
  <div class="item-image">
  </div>
  <div class="item-details">
    <p class="item-description">{{ item.description }}</p>
    <br>
    <p class="item-price">Price: ${{ item.get_price }}</p>
    <form action="{% url 'payment:buy_item' item.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Buy</button>
    </form>
  </div>
</div>

{% endblock content %}