{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'item/css/styles.css' %}">
{% endblock style %}

{% block content %}
<a href="{% url 'profile:profile' %}">Profile</a>

<h1>Items for Sale</h1>
<ul>
    {% for item in object_list %}
    <li>
        <h2 class="product-name"><a href="{% url 'item:item_detail' item.id %}">{{ item.name }}</a></h2>
        <p class="product-description">{{ item.description }}</p>
        <p class="product-price">Price: ${{ item.get_price }}</p>
        {% if item in user.profile.items.all %}
        <p class="product-owned">You own this</p>
        {% elif item in current_order_products %}
        <a href="{% url 'shopping_cart:order_summary' %}" class="product-action">Go to Cart</a>
        {% else %}
        <a href="{% url 'shopping_cart:add_to_cart' item.id %}" class="product-action yellow">Add to Cart</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}